{% extends 'templates/base.html' %}

{% block main %}
<div class="row">
    <!-- Feed -->
    <div class="col-9">
        <h3>@{{user.username}}</h3>

        <hr>

        <b><a href="/{{user.username}}/follows/">Follows:</a></b> {{user.gotwitterprofile.follows.count}} -
        <b><a href="/{{user.username}}/followers/">Followers:</a></b> {{user.gotwitterprofile.followed_by.count}}

        {% ifnotequal request.user user %}
            <hr>

            {% if request.user.gotwitterprofile in user.gotwitterprofile.followed_by.all %}
                <a href="/{{user.username}}/stopfollow/" class="btn btn-danger">Stop Following</a>
            {% else %}
                <a href="/{{user.username}}/follow/" class="btn btn-success">Follow</a>
            {% endif %}
        {% endifnotequal %}

        <hr>

        {% if user.gotweets.all %}
        {% for gotweet in user.gotweets.all %}
            <div class="card" style="margin-bottom: 20px;">
                <div class="card-body">
                    <h5 class="card-title">@{{gotweet.user.username}}</h5>
                    <p class="card-text"><b>{{gotweet.created_at}},  {{gotweet.location}}</b> - {{gotweet.body}}</p>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <p>No gotweets yet...</p>
        {% endif %}
    </div>

    <!-- Sidebar -->
    <div class="col-3">
        <h3>Add Gotweet</h3>
        {% if form.errors %}
            {% for field in form %}
                {% for error in form.errors %}
                    <div class="alert alert-danger">
                        <b>{{error|escape}}</b>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <b>{{error|escape}}</b>
                </div>
            {% endfor %}
        {% endif %}

        <form action="/{{request.user.username}}/" method="POST">
            {% csrf_token %}

            {% for field in form %}
                <div class="form-group">
                    {{field}}
                </div>
            {% endfor %}

            <input type="hidden" value="{{request.path}}" name="redirect">
            <input type="submit" value="Post Gotweet" class="btn btn-primary">
        </form>
    </div>
</div>
{% endblock %}
